<?php

declare(strict_types=1);

namespace App\Tests\generated;

use Prodige\TestGenerator\AbstractTest;
use {{ pathToResource }};

class {{ prefix }}{{ resource }}Test extends AbstractTest
{

    private string $url = '{{ url }}';
    private string $resource = '{{ resource }}';
    private static int $itemId;

    public function setUp(): void
    {
        parent::setUp();
    }

    public function __construct(?string $name = null, array $data = [], $dataName = '')
    {
        parent::__construct($name, $data, $dataName);
    }

{% include 'create-item.html.twig' %}

{% include 'create-item-with-all-fields.html.twig' %}

{% include 'create-item-with-non-existing-fields.html.twig' %}

{% include 'get-collection.html.twig' %}

{% include 'get-item.html.twig' %}

{% include 'get-non-existing-item.html.twig' %}

{% include 'update-item.html.twig' %}

{% include 'update-non-existing-item.html.twig' %}

{% include 'update-item-with-wrong-headers.html.twig' %}

{% include 'delete-item.html.twig' %}

{% include 'delete-non-existing-item.html.twig' %}

}