{%~ if 'post' in allRoutesMethods[url] %}
    {%~ set propertiesTypes = allPropertiesTypes['postInputCollection'] %}
    {%~ set propertiesFormats = allPropertiesFormats['postInputCollection'] %}
    {%~ set propertiesRefs = allPropertiesRefs['postInputCollection'] %}
    {%~ set fields = allFields['postInputCollection'] %}
    /**
    * create one {{ resource }} with all fields (201)
    * @group testPost
    */
    public function testCreate{{ resource }}WithAllFields(): void
    {

        //------------------------------------------------------------------------------------------------------------
        // initialize all fields with the random values depending on their types
        //------------------------------------------------------------------------------------------------------------
    {%~ for key, value in propertiesTypes %}
        {%~ if not attribute(propertiesRefs, key) is defined
            and key != '@id' and key != '@type' and key != 'id' and key != '@context' %}
            {%~ if not value is iterable %}
                {%~ set type = value %}
            {%~ else %}
                {%~ set type = value[0] %}
            {%~ endif %}
            {%~ if type == 'string'  %}
        ${{ resource }}{{ key |capitalize }} = $this->generateRandomString();
            {%~ endif %}
            {%~ if type == 'boolean'  %}
        ${{ resource }}{{ key |capitalize }} = false;
            {%~ endif %}
            {%~ if type == 'array'  %}
        ${{ resource }}{{ key |capitalize }} = [];
            {%~ endif %}
            {%~ if type == 'number'  %}
        ${{ resource }}{{ key |capitalize }} = {{ random(1000) }};
            {%~ endif %}
            {%~ if type == 'integer'  %}
        ${{ resource }}{{ key |capitalize }} = {{ random(1000) }};
            {%~ endif %}
        {%~ endif %}
    {%~ endfor %}

    {%~ for key, value in propertiesFormats %}
        {%~ if value == 'date-time'  %}
        ${{ resource }}{{ key |capitalize }} = "2023-06-16T16:40:00+00:00";
        {%~ endif %}
    {%~ endfor %}

        //------------------------------------------------------------------------------------------------------------
        // initialize all fields which are references to other entities
        //------------------------------------------------------------------------------------------------------------
    {%~ for key, value in propertiesRefs %}
        $response = $this->createClientWithCredentials('{{ value }}');
        $this->assertResponseIsSuccessful();
        $propertyRef = '{{ value }}' . '/' . strval($response->toArray()['hydra:member'][0]['id']);
        ${{ resource }}{{ key |capitalize }} = $propertyRef;

    {%~ endfor %}
        //------------------------------------------------------------------------------------------------------------
        // create {{ resource }} with all fields
        //------------------------------------------------------------------------------------------------------------
        $headers = ['content-type' => 'application/ld+json'];
        $body = [
    {%~ for propertyField in fields %}
        {%~  if propertyField != '@id' and propertyField != '@type' and propertyField != 'id' and propertyField != '@context' %}
            '{{ propertyField }}' => ${{ resource }}{{ propertyField |capitalize }},
        {%~  endif %}
    {%~  endfor %}
        ];

        $response = $this->createClientWithCredentials($this->url, 'POST', $headers, $body);
        $this->assertResponseStatusCodeSame(201);

    {%~ if attribute(allRoutesMethods, url ~ '/{id}') is defined and 'get' in allRoutesMethods[url ~ '/{id}'] %}

        //------------------------------------------------------------------------------------------------------------
        // get {{ resource }} which was recently created
        //------------------------------------------------------------------------------------------------------------
    {%~ set propertiesTypes = allPropertiesTypes['postOutputCollection'] %}
    {%~ set propertiesFormats = allPropertiesFormats['postOutputCollection'] %}
    {%~ set propertiesRefs = allPropertiesRefs['postOutputCollection'] %}
    {%~ set fields = allFields['postOutputCollection'] %}
        $itemIdLocal = $response->toArray()['id'];
        $response = $this->createClientWithCredentials($this->url . '/' . $itemIdLocal);
        $this->assertResponseStatusCodeSame(200);

        //------------------------------------------------------------------------------------------------------------
        // check correspondence between created fields from POST and actual fields from GET
        //------------------------------------------------------------------------------------------------------------
        $this->assertJsonContains([
        '@context' => '/api/contexts/' . $this->resource,
        '@type' => $this->resource,
    {%~ for propertyField in fields %}
        {%~  if propertyField != '@id' and propertyField != '@type' and propertyField != 'id' and propertyField != '@context' %}
            {%~ if not attribute(propertiesRefs, propertyField) is defined
                and attribute(allPropertiesTypes['postInputCollection'], propertyField) is defined %}
            '{{ propertyField }}' => ${{ resource }}{{ propertyField |capitalize }},
            {%~  endif %}
        {%~ endif %}
    {%~  endfor %}
        ]);

    {%~ for propertyField in fields %}
        {%~ if not attribute(allPropertiesTypes['postInputCollection'], propertyField) is defined %}
        $this->localAssertArrayHasKeys($response->toArray(), ['{{ propertyField }}']);
        {%~  endif %}
    {%~  endfor %}

        //------------------------------------------------------------------------------------------------------------
        // check correspondence between created fields with links from POST and actual fields with links from GET
        //------------------------------------------------------------------------------------------------------------
    {%~ for key, value in propertiesRefs %}
        {%~ if attribute(allPropertiesTypes['postInputCollection'], key) is defined %}
        if (is_array($response->toArray()['{{ key }}'])) {
            $this->assertEquals(${{ resource }}{{ key |capitalize }}, $response->toArray()['{{ key }}']['@id']);
        } else {
            $this->assertEquals(${{ resource }}{{ key |capitalize }}, $response->toArray()['{{ key }}']);
        }
        {%~  endif %}
    {%~ endfor %}

        $this->assertMatchesResourceItemJsonSchema({{ resource }}::class);

        {%~ if 'postInputCollection' in correspondenceToSchemaFromFile
            and correspondenceToSchemaFromFile['postInputCollection'] == false %}
        //------------------------------------------------------------------------------------------------------------
        // check if schema from class correspond to schema from file
        //------------------------------------------------------------------------------------------------------------
        $this->fail("Post input schema doesn't correspond to Json schema from file");
        {%~ endif %}
        {%~ if 'postOutputCollection' in correspondenceToSchemaFromFile
            and correspondenceToSchemaFromFile['postOutputCollection'] == false %}
        //------------------------------------------------------------------------------------------------------------
        // check if schema from class correspond to schema from file
        //------------------------------------------------------------------------------------------------------------
        $this->fail("Post output schema doesn't correspond to Json schema from file");
        {%~ endif %}
    {%~ endif %}
    }
{%~ endif %}