{%~ if 'post' in allRoutesMethods[url] %}
    {%~ set required = allRequired['postInputCollection'] %}
    {%~ set requiredTypes = allRequiredTypes['postInputCollection'] %}
    {%~ set requiredRefs = allRequiredRefs['postInputCollection'] %}
    {%~ set fields = allFields['postInputCollection'] %}
    /**
    * create one {{ resource }} (201)
    * @group testPost
    */
    public function testCreate{{ resource }}(): void
    {

        //------------------------------------------------------------------------------------------------------------
        // initialize required fields with the random values depending on their types
        //------------------------------------------------------------------------------------------------------------
    {%~ for requiredField in required %}
        {%~ set requiredType = requiredTypes[requiredField] %}
        {%~ if not attribute(requiredRefs, requiredField) is defined %}
            {%~ if requiredType == 'string'  %}
        ${{ resource }}{{ requiredField |capitalize }} = $this->generateRandomString();
            {%~ endif %}
            {%~ if requiredType == 'boolean'  %}
        ${{ resource }}{{ requiredField |capitalize }} = false;
            {%~ endif %}
            {%~ if requiredType == 'array'  %}
        ${{ resource }}{{ requiredField |capitalize }} = [];
            {%~ endif %}
            {%~ if requiredType == 'number'  %}
        ${{ resource }}{{ requiredField |capitalize }} = {{ random(1000) }};
            {%~ endif %}
            {%~ if requiredType == 'integer'  %}
        ${{ resource }}{{ requiredField |capitalize }} = {{ random(1000) }};
            {%~ endif %}
        {%~ endif %}
    {%~  endfor %}

        //------------------------------------------------------------------------------------------------------------
        // initialize required fields which are references to other entities
        //------------------------------------------------------------------------------------------------------------
    {%~ for key, value in requiredRefs %}
        $response = $this->createClientWithCredentials('{{ value }}');
        $this->assertResponseIsSuccessful();
        $requiredRefItem = '{{ value }}' . '/' . strval($response->toArray()['hydra:member'][0]['id']);
        ${{ resource }}{{ key |capitalize }} = $requiredRefItem;

    {%~ endfor %}
        //------------------------------------------------------------------------------------------------------------
        // create {{ resource }} with only required fields
        //------------------------------------------------------------------------------------------------------------
        $headers = ['content-type' => 'application/ld+json'];
        $body = [
    {%~ for requiredField in required %}
            '{{ requiredField }}' => ${{ resource }}{{ requiredField |capitalize }},
    {%~  endfor %}
        ];

        $response = $this->createClientWithCredentials($this->url, 'POST', $headers, $body);
        $this->assertResponseStatusCodeSame(201);

        self::$itemId = $response->toArray()['id'];

    {%~ if attribute(allRoutesMethods, url ~ '/{id}') is defined and 'get' in allRoutesMethods[url ~ '/{id}'] %}

        //------------------------------------------------------------------------------------------------------------
        // get {{ resource }} which was recently created
        //------------------------------------------------------------------------------------------------------------
        {%~ set required = allRequired['postOutputCollection'] %}
        {%~ set requiredTypes = allRequiredTypes['postOutputCollection'] %}
        {%~ set requiredRefs = allRequiredRefs['postOutputCollection'] %}
        {%~ set fields = allFields['postOutputCollection'] %}
        $response = $this->createClientWithCredentials($this->url . '/' . self::$itemId);
        $this->assertResponseStatusCodeSame(200);

        //------------------------------------------------------------------------------------------------------------
        // check correspondence between created fields from POST and actual fields from GET
        //------------------------------------------------------------------------------------------------------------
        $this->assertJsonContains([
            '@context' => '/api/contexts/' . $this->resource,
            '@type' => $this->resource,
        {%~ for requiredField in required %}
            {%~ if not attribute(requiredRefs, requiredField) is defined %}
            '{{ requiredField }}' => ${{ resource }}{{ requiredField |capitalize }},
            {%~ endif %}
        {%~  endfor %}
        ]);

        //------------------------------------------------------------------------------------------------------------
        // check correspondence between created fields with links from POST and actual fields with links from GET
        //------------------------------------------------------------------------------------------------------------
        {%~ for requiredField in required %}
            {%~ if attribute(requiredRefs, requiredField) is defined %}
        $this->assertEquals(${{ resource }}{{ requiredField |capitalize }}, $response->toArray()['{{ requiredField }}']['@id']);
            {%~ endif %}
        {%~  endfor %}

        $this->assertMatchesResourceItemJsonSchema({{ resource }}::class);

        {%~ if 'postInputCollection' in correspondenceToSchemaFromFile
            and correspondenceToSchemaFromFile['postInputCollection'] == false %}
        //------------------------------------------------------------------------------------------------------------
        // check if schema from class correspond to schema from file
        //------------------------------------------------------------------------------------------------------------
        $this->fail("Post input schema doesn't correspond to Json schema from file");
        {%~ endif %}
        {%~ if 'postOutputCollection' in correspondenceToSchemaFromFile
            and correspondenceToSchemaFromFile['postOutputCollection'] == false %}
        //------------------------------------------------------------------------------------------------------------
        // check if schema from class correspond to schema from file
        //------------------------------------------------------------------------------------------------------------
        $this->fail("Post output schema doesn't correspond to Json schema from file");
        {%~ endif %}
    {%~ endif %}
    }
{%~ endif %}