{%~ if 'post' in allRoutesMethods[url] %}
    {%~ set required = allRequired['postInputCollection'] %}
    {%~ set requiredTypes = allRequiredTypes['postInputCollection'] %}
    {%~ set requiredRefs = allRequiredRefs['postInputCollection'] %}
    {%~ set fields = allFields['postInputCollection'] %}
    {%~ if requiredRefs %}
    /**
    * create {{ resource }} with non-existing fields (400)
    * @group testPost
    */
    public function testCreate{{ resource }}WithNonExistingFields(): void
    {

        //------------------------------------------------------------------------------------------------------------
        // initialize required fields with the random values
        //------------------------------------------------------------------------------------------------------------
        {%~ for requiredField in required %}
            {%~ set requiredType = requiredTypes[requiredField] %}
            {%~ if not attribute(requiredRefs, requiredField) is defined %}
                {%~ if requiredType == 'string'  %}
        ${{ resource }}{{ requiredField |capitalize }} = $this->generateRandomString();
                {%~ endif %}
                {%~ if requiredType == 'boolean'  %}
        ${{ resource }}{{ requiredField |capitalize }} = false;
                {%~ endif %}
            {%~ endif %}
        {%~  endfor %}

        //------------------------------------------------------------------------------------------------------------
        // initialize required fields which are references to other entities
        //------------------------------------------------------------------------------------------------------------
        {%~ for key, value in requiredRefs %}
        $response = $this->createClientWithCredentials('{{ value }}');
        $this->assertResponseIsSuccessful();
        $requiredRefItem = '{{ value }}' . '/' . strval($response->toArray()['hydra:member'][0]['id']);
        ${{ resource }}{{ key |capitalize }} = $requiredRefItem;

        {%~ endfor %}
        {%~ for key, value in requiredRefs %}
        //------------------------------------------------------------------------------------------------------------
        // create {{ resource }} with link to {{ key }} which doesn't exist
        //------------------------------------------------------------------------------------------------------------
        $headers = ['content-type' => 'application/ld+json'];
        $body = [
            {%~ for requiredField in required %}
                {%~ if key == requiredField %}
            '{{ requiredField }}' => '{{ value }}/-1',
                {%~ else %}
            '{{ requiredField }}' => ${{ resource }}{{ requiredField |capitalize }},
                {%~ endif %}
            {%~  endfor %}
        ];

        $response = $this->createClientWithCredentials($this->url, 'POST', $headers, $body);
        $this->localAssertGetError(code: 400, description: 'Item not found for "{{ value }}/-1".');

        {%~ endfor %}
        {%~ if 'postInputCollection' in correspondenceToSchemaFromFile
            and correspondenceToSchemaFromFile['postInputCollection'] == false %}
        //------------------------------------------------------------------------------------------------------------
        // check if schema from class correspond to schema from file
        //------------------------------------------------------------------------------------------------------------
        $this->fail("Post input schema doesn't correspond to Json schema from file");
        {%~ endif %}
    }
    {%~ endif %}
{%~ endif %}