{%~ if attribute(allRoutesMethods, url ~ '/{id}') is defined and 'delete' in allRoutesMethods[url ~ '/{id}'] %}
    /**
    * delete non existing {{ resource }}
    * @group testDelete
    */
    public function testDeleteNonExisting{{ resource }}(): void
    {

        //------------------------------------------------------------------------------------------------------------
        // delete item of {{ resource }} with id '-1'
        //------------------------------------------------------------------------------------------------------------
        $response = $this->createClientWithCredentials($this->url . '/-1', 'DELETE');
        $this->localAssertGetError();

    }
{%~ endif %}