{%~ if attribute(allRoutesMethods, url ~ '/{id}') is defined and 'delete' in allRoutesMethods[url ~ '/{id}'] %}
    /**
    * delete existing {{ resource }}
    * @group testDelete
    * @depends testCreate{{ resource }}
    */
    public function testDelete{{ resource }}(): void
    {

        //------------------------------------------------------------------------------------------------------------
        // delete item of {{ resource }}
        //------------------------------------------------------------------------------------------------------------
        $response = $this->createClientWithCredentials($this->url . '/' . self::$itemId, 'DELETE');
        $this->assertResponseStatusCodeSame(204);

        //------------------------------------------------------------------------------------------------------------
        // get {{ resource }} which was recently deleted
        //------------------------------------------------------------------------------------------------------------
        $response = $this->createClientWithCredentials($this->url . '/' . self::$itemId);
        $this->localAssertGetError(404);

    }
{%~ endif %}