{%~ if 'get' in allRoutesMethods[url] %}
    {%~ set required = allRequired['getOutputCollection'] %}
    /**
    * get all {{ resource }} items
    * @group testGet
    * @depends testCreate{{ resource }}
    */
    public function testGet{{ resource }}s(): void
    {

        //------------------------------------------------------------------------------------------------------------
        // get collection of {{ resource }}
        //------------------------------------------------------------------------------------------------------------
        $response = $this->createClientWithCredentials($this->url);
        $this->assertResponseIsSuccessful();
        $this->assertResponseHeaderSame('content-type', 'application/ld+json; charset=utf-8');

        $this->assertJsonContains([
            '@context' => '/api/contexts/' . $this->resource,
            '@id' => $this->url,
            '@type' => 'hydra:Collection',
        ]);

        //------------------------------------------------------------------------------------------------------------
        // check correspondence between actual fields from GET and fields from GET output collection schema
        //------------------------------------------------------------------------------------------------------------
        ${{ resource|lower }}s = $response->toArray()['hydra:member'];
        $this->assertNotEmpty(${{ resource|lower }}s);
    {%~ if required %}
        foreach (${{ resource|lower }}s as ${{ resource|lower }}) {
        {%~ for requiredField in required %}
            $this->localAssertArrayHasKeys(${{ resource|lower }}, ['{{ requiredField }}']);
        {%~  endfor %}
        }
    {%~ endif %}

        $this->assertMatchesResourceCollectionJsonSchema({{ resource }}::class);
    {%~ if 'getOutputCollection' in correspondenceToSchemaFromFile
        and correspondenceToSchemaFromFile['getOutputCollection'] == false %}
        //------------------------------------------------------------------------------------------------------------
        // check if schema from class correspond to schema from file
        //------------------------------------------------------------------------------------------------------------
        $this->fail("Get output schema doesn't correspond to Json schema from file");
    {%~ endif %}

    }
{%~ endif %}