{%~ if attribute(allRoutesMethods, url ~ '/{id}') is defined and 'get' in allRoutesMethods[url ~ '/{id}'] %}
    /**
    * get {{ resource }} which doesn't exist (404)
    * @group testGet
    */
    public function testGetNonExisting{{ resource }}(): void
    {
        //------------------------------------------------------------------------------------------------------------
        // get item of {{ resource }} with id '-1'
        //------------------------------------------------------------------------------------------------------------
        $this->createClientWithCredentials($this->url . '/-1');
        $this->localAssertGetError(code: 404);
    }
{%~ endif %}