{%~ if attribute(allRoutesMethods, url ~ '/{id}') is defined and 'get' in allRoutesMethods[url ~ '/{id}'] %}
    {%~ set required = allRequired['getOutputItem'] %}
    /**
    * get one item of {{ resource }} collection
    * @group testGet
    * @depends testGet{{ resource }}s
    */
    public function testGet{{ resource }}(): void
    {

        //------------------------------------------------------------------------------------------------------------
        // get item of {{ resource }}
        //------------------------------------------------------------------------------------------------------------
        $response = $this->createClientWithCredentials($this->url . '/' . strval(self::$itemId));
        $this->assertResponseIsSuccessful();
        $this->assertResponseHeaderSame('content-type', 'application/ld+json; charset=utf-8');

        $this->assertJsonContains([
            '@context' => '/api/contexts/' . $this->resource,
            '@type' => $this->resource,
        ]);

        //------------------------------------------------------------------------------------------------------------
        // check correspondence between actual fields from GET and fields from GET output item schema
        //------------------------------------------------------------------------------------------------------------
        ${{ resource|lower }} = $response->toArray();

    {%~ for requiredField in required %}
        $this->localAssertArrayHasKeys(${{ resource|lower }}, ['{{ requiredField }}']);
    {%~  endfor %}

        $this->assertMatchesResourceItemJsonSchema({{ resource }}::class);
    {%~ if 'getOutputItem' in correspondenceToSchemaFromFile
        and correspondenceToSchemaFromFile['getOutputItem'] == false %}
        //------------------------------------------------------------------------------------------------------------
        // check if schema from class correspond to schema from file
        //------------------------------------------------------------------------------------------------------------
        $this->fail("Get output schema doesn't correspond to Json schema from file");
    {%~ endif %}

    }
{%~ endif %}