{%~ if attribute(allRoutesMethods, url ~ '/{id}') is defined and 'patch' in allRoutesMethods[url ~ '/{id}'] %}
    {%~ set required = allRequired['patchInputItem'] %}
    {%~ set requiredTypes = allRequiredTypes['patchInputItem'] %}
    {%~ set requiredRefs = allRequiredRefs['patchInputItem'] %}
    /**
    * update {{ resource }} with wrong headers
    * @group testPatch
    * @depends testCreate{{ resource }}
    */
    public function testUpdate{{ resource }}WithWrongHeaders(): void
    {

        //------------------------------------------------------------------------------------------------------------
        // initialize required fields with the random values depending on their types
        //------------------------------------------------------------------------------------------------------------
    {%~ for requiredField in required %}
        {%~ set requiredType = requiredTypes[requiredField] %}
        {%~ if not attribute(requiredRefs, requiredField) is defined %}
            {%~ if requiredType == 'string'  %}
        ${{ resource }}{{ requiredField |capitalize }} = $this->generateRandomString();
            {%~ endif %}
            {%~ if requiredType == 'boolean'  %}
        ${{ resource }}{{ requiredField |capitalize }} = false;
            {%~ endif %}
            {%~ if requiredType == 'array'  %}
        ${{ resource }}{{ requiredField |capitalize }} = [];
            {%~ endif %}
            {%~ if requiredType == 'number'  %}
        ${{ resource }}{{ requiredField |capitalize }} = {{ random(1000) }};
            {%~ endif %}
            {%~ if requiredType == 'integer'  %}
        ${{ resource }}{{ requiredField |capitalize }} = {{ random(1000) }};
            {%~ endif %}
        {%~ endif %}
    {%~  endfor %}

        //------------------------------------------------------------------------------------------------------------
        // initialize required fields which are references to other entities
        //------------------------------------------------------------------------------------------------------------
    {%~ for key, value in requiredRefs %}
        $response = $this->createClientWithCredentials('{{ value }}');
        $this->assertResponseIsSuccessful();
        $requiredRefItem = '{{ value }}' . '/' . strval($response->toArray()['hydra:member'][0]['id']);
        ${{ resource }}{{ key |capitalize }} = $requiredRefItem;

    {%~ endfor %}
        //------------------------------------------------------------------------------------------------------------
        // initialize wrong headers
        //------------------------------------------------------------------------------------------------------------
        $headers = ['content-type' => ''];
        $body = [
    {% for requiredField in required %}
            '{{ requiredField }}' => ${{ resource }}{{ requiredField |capitalize }},
    {%  endfor %}
        ];

        $response = $this->createClientWithCredentials($this->url . '/' . self::$itemId, 'PATCH', $headers, $body);
        $this->localAssertGetError(code: 415,
        description: 'The content-type "" is not supported. Supported MIME types are "application/merge-patch+json".');

    {%~ if 'patchInputItem' in correspondenceToSchemaFromFile
        and correspondenceToSchemaFromFile['patchInputItem'] == false %}
        //------------------------------------------------------------------------------------------------------------
        // check if schema from class correspond to schema from file
        //------------------------------------------------------------------------------------------------------------
        $this->fail("Patch input schema doesn't correspond to Json schema from file");
    {%~ endif %}

    }
{%~ endif %}