{%~ if attribute(allRoutesMethods, url ~ '/{id}') is defined and 'patch' in allRoutesMethods[url ~ '/{id}'] %}
    {%~ set required = allRequired['patchInputItem'] %}
    {%~ set requiredTypes = allRequiredTypes['patchInputItem'] %}
    {%~ set requiredRefs = allRequiredRefs['patchInputItem'] %}
    /**
    * update non-existing {{ resource }}
    * @group testPatch
    */
    public function testUpdateNonExisting{{ resource }}(): void
    {

        //------------------------------------------------------------------------------------------------------------
        // initialize required fields with the random values depending on their types
        //------------------------------------------------------------------------------------------------------------
    {%~ for requiredField in required %}
        {%~ set requiredType = requiredTypes[requiredField] %}
        {%~ if not attribute(requiredRefs, requiredField) is defined %}
            {%~ if requiredType == 'string'  %}
        ${{ resource }}{{ requiredField |capitalize }} = $this->generateRandomString();
            {%~ endif %}
            {%~ if requiredType == 'boolean'  %}
        ${{ resource }}{{ requiredField |capitalize }} = false;
            {%~ endif %}
            {%~ if requiredType == 'array'  %}
        ${{ resource }}{{ requiredField |capitalize }} = [];
            {%~ endif %}
            {%~ if requiredType == 'number'  %}
        ${{ resource }}{{ requiredField |capitalize }} = {{ random(1000) }};
            {%~ endif %}
            {%~ if requiredType == 'integer'  %}
        ${{ resource }}{{ requiredField |capitalize }} = {{ random(1000) }};
            {%~ endif %}
        {%~ endif %}
    {%~  endfor %}

        //------------------------------------------------------------------------------------------------------------
        // initialize required fields which are references to other entities
        //------------------------------------------------------------------------------------------------------------
    {%~ for key, value in requiredRefs %}
        $response = $this->createClientWithCredentials('{{ value }}');
        $this->assertResponseIsSuccessful();
        $requiredRefItem = '{{ value }}' . '/' . strval($response->toArray()['hydra:member'][0]['id']);
        ${{ resource }}{{ key |capitalize }} = $requiredRefItem;

    {%~ endfor %}

        $headers = ['content-type' => 'application/merge-patch+json'];
        $body = [
    {%~ for requiredField in required %}
            '{{ requiredField }}' => ${{ resource }}{{ requiredField |capitalize }},
    {%~  endfor %}
        ];

        //------------------------------------------------------------------------------------------------------------
        // update item of {{ resource }} with id '-1'
        //------------------------------------------------------------------------------------------------------------
        $response = $this->createClientWithCredentials($this->url . '/-1', 'PATCH', $headers, $body);
        $this->localAssertGetError();
    {%~ if 'patchInputItem' in correspondenceToSchemaFromFile
        and correspondenceToSchemaFromFile['patchInputItem'] == false %}
        //------------------------------------------------------------------------------------------------------------
        // check if schema from class correspond to schema from file
        //------------------------------------------------------------------------------------------------------------
        $this->fail("Patch input schema doesn't correspond to Json schema from file");
    {%~ endif %}

    }
{%~ endif %}