{%~ if attribute(allRoutesMethods, url ~ '/{id}') is defined and 'patch' in allRoutesMethods[url ~ '/{id}'] %}
    {%~ set required = allRequired['patchInputItem'] %}
    {%~ set requiredTypes = allRequiredTypes['patchInputItem'] %}
    {%~ set requiredRefs = allRequiredRefs['patchInputItem'] %}
    /**
    * update existing {{ resource }}
    * @group testPatch
    * @depends testCreate{{ resource }}
    */
    public function testUpdate{{ resource }}(): void
    {

        //------------------------------------------------------------------------------------------------------------
        // initialize required fields with the random values depending on their types
        //------------------------------------------------------------------------------------------------------------
    {%~ for requiredField in required %}
        {%~ set requiredType = requiredTypes[requiredField] %}
        {%~ if not attribute(requiredRefs, requiredField) is defined %}
            {%~ if requiredType == 'string'  %}
        ${{ resource }}{{ requiredField |capitalize }} = $this->generateRandomString();
            {%~ endif %}
            {%~ if requiredType == 'boolean'  %}
        ${{ resource }}{{ requiredField |capitalize }} = false;
            {%~ endif %}
            {%~ if requiredType == 'array'  %}
        ${{ resource }}{{ requiredField |capitalize }} = [];
            {%~ endif %}
            {%~ if requiredType == 'number'  %}
        ${{ resource }}{{ requiredField |capitalize }} = {{ random(1000) }};
            {%~ endif %}
            {%~ if requiredType == 'integer'  %}
        ${{ resource }}{{ requiredField |capitalize }} = {{ random(1000) }};
            {%~ endif %}
        {%~ endif %}
    {%~  endfor %}

        //------------------------------------------------------------------------------------------------------------
        // initialize required fields which are references to other entities
        //------------------------------------------------------------------------------------------------------------
    {%~ for key, value in requiredRefs %}
        $response = $this->createClientWithCredentials('{{ value }}');
        $this->assertResponseIsSuccessful();
        $requiredRefItem = '{{ value }}' . '/' . strval($response->toArray()['hydra:member'][0]['id']);
        ${{ resource }}{{ key |capitalize }} = $requiredRefItem;

    {%~ endfor %}
        //------------------------------------------------------------------------------------------------------------
        // update {{ resource }} with only required fields
        //------------------------------------------------------------------------------------------------------------
        $headers = ['content-type' => 'application/merge-patch+json'];
        $body = [
    {%~ for requiredField in required %}
            '{{ requiredField }}' => ${{ resource }}{{ requiredField |capitalize }},
    {%~  endfor %}
        ];

        $response = $this->createClientWithCredentials($this->url . '/' . self::$itemId, 'PATCH', $headers, $body);
        $this->assertResponseStatusCodeSame(200);

        {%~ if attribute(allRoutesMethods, url ~ '/{id}') is defined and 'get' in allRoutesMethods[url ~ '/{id}'] %}
        //------------------------------------------------------------------------------------------------------------
        // get {{ resource }} which was recently updated
        //------------------------------------------------------------------------------------------------------------
    {%~ set required = allRequired['patchOutputItem'] %}
    {%~ set requiredTypes = allRequiredTypes['patchOutputItem'] %}
    {%~ set requiredRefs = allRequiredRefs['patchOutputItem'] %}
        $response = $this->createClientWithCredentials($this->url . '/' . self::$itemId);
        $this->assertResponseStatusCodeSame(200);

        //------------------------------------------------------------------------------------------------------------
        // check correspondence between updated fields from PATCH and actual fields from GET
        //------------------------------------------------------------------------------------------------------------
        $this->assertJsonContains([
            '@context' => '/api/contexts/' . $this->resource,
            '@type' => $this->resource,
    {%~ for requiredField in required %}
        {%~ if not attribute(requiredRefs, requiredField) is defined %}
            '{{ requiredField }}' => ${{ resource }}{{ requiredField |capitalize }},
        {%~ endif %}
    {%~  endfor %}
        ]);

        //------------------------------------------------------------------------------------------------------------
        // check correspondence between updated fields with links from PATCH and actual fields with links from GET
        //------------------------------------------------------------------------------------------------------------
    {%~ for requiredField in required %}
        {%~ if attribute(requiredRefs, requiredField) is defined %}
        $this->assertEquals(${{ resource }}{{ requiredField |capitalize }}, $response->toArray()['{{ requiredField }}']['@id']);
        {%~ endif %}
    {%~  endfor %}

        $this->assertMatchesResourceItemJsonSchema({{ resource }}::class);
    {%~ endif %}

    {%~ if 'patchInputItem' in correspondenceToSchemaFromFile
        and correspondenceToSchemaFromFile['patchInputItem'] == false %}
        //------------------------------------------------------------------------------------------------------------
        // check if schema from class correspond to schema from file
        //------------------------------------------------------------------------------------------------------------
        $this->fail("Patch input schema doesn't correspond to Json schema from file");
    {%~ endif %}
    {%~ if 'patchOutputItem' in correspondenceToSchemaFromFile
        and correspondenceToSchemaFromFile['patchOutputItem'] == false %}
        //------------------------------------------------------------------------------------------------------------
        // check if schema from class correspond to schema from file
        //------------------------------------------------------------------------------------------------------------
        $this->fail("Patch output schema doesn't correspond to Json schema from file");
    {%~ endif %}

    }
{%~ endif %}
